table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
  width: 80%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
}


th, thead{
	border-color: black;
	color: aliceblue;
	background-color: darkslateblue;
}

tr:hover {
	background-color: #f2f2f2;
}

button:active {
	outline: none;
	border: none;
}
	
button:focus {outline:0;}