.carousel-size{
    height: 20%;
    width: 20%;
}
.responsive {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.auth-container{
    height: 50vh;
    width: 20vw;
  
}
.image-carousel >img{
    max-height: 120px;
    width: 80% ;
}