table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
}

button:active {
	outline: none;
	border: none;
}
	
button:focus {outline:0;}